
header {
    background-color: #e8740f86;
    margin: 15px;
    padding: 15px;
    border: 15px solid darkorange;
    border-radius: 15px;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.toptop {
    font-size: 25px;
    position: relative;
}

.Summeray {
    font-size: 25px;
    position: relative;
}

.body{

    margin: 15px;
    padding: 15px;
    border: 15px solid rgb(72, 237, 21);
    border-radius: 1000px;
    position: relative;
}

.proJ {
    position: Relative;
    
    top: -90px;
    padding-left: 10px;
    padding-right: 500px;
    padding-bottom: 200px;
     font-size: 25px;
     background-color: rgba(222, 204, 13, 0.413);
}

.EdU{position: Relative;
    
    top: -330px;
    padding-left: 10px;
    padding-right: 500px;
    padding-bottom: 200px;
    font-size: 25px;
    background-color: rgba(215, 218, 19, 0.514);
}

.eXp{position: Relative;
    top: -550px;
    padding-left: 10px;
    padding-right: 500px;
    padding-bottom: 200px;
    background-color: rgba(144, 214, 14, 0.495);
    font-size: 25px;}

.CerTy{position: Relative;
    top: -725px;
    padding-left: 10px;
    padding-right: 500px;
    padding-bottom: 100px;
    background-color: rgba(6, 207, 50, 0.447);
    font-size: 25px;}

    /* website layout*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif; 
    background-color: #fff;  
}

.header  {
    padding: 200px;
    text-align: center;
    background-color: hsl(28, 76%, 46%);
     
}

.title {
    font-weight: bold;
    font-size: 24px; 
    font-family: 'Times New Roman', Times, serif; 
}




.resume-section p {
    font-size: 30px; /
}
Font and border

body {
    color: hsl(0, 0%, 0%); 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.border-same-color {
    border: 100px solid #ad7020; 
    padding: 100px;
}
