
header {
    background-color: #e8740f86;
    margin: 15px;
    padding: 15px;
    border: 15px solid darkorange;
    border-radius: 15px;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.toptop {
    font-size: 25px;
    position: relative;
}

.Summeray {
    font-size: 25px;
    position: relative;
}

body {
    margin: 35px;
    padding: 15px;
    border: 15px solid rgb(72, 237, 21);
    border-radius: 1000px;
    position: relative;
}

.proJ {
    position: relative;
    top: -50px;
    padding-left: 10px;
    padding-right: 500px;
    padding-bottom: 200px;
    font-size: 25px;
    background-color: rgba(222, 204, 13, 0.413);
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.proJ:hover {
    background-color: lightgreen;
}

.EdU {
    position: relative;
    top: -330px;
    padding-left: 10px;
    padding-right: 500px;
    padding-bottom: 200px;
    font-size: 25px;
    background-color: rgba(215, 218, 19, 0.514);
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.EdU:hover {
    background-color: lightgreen;
}

.eXp {
    position: relative;
    top: -550px;
    padding-left: 10px;
    padding-right: 500px;
    padding-bottom: 200px;
    background-color: rgba(144, 214, 14, 0.495);
    font-size: 25px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.eXp:hover {
    background-color: rgb(200, 238, 144);
}

.CerTy {
    position: relative;
    top: -725px;
    padding-left: 10px;
    padding-right: 500px;
    padding-bottom: 100px;
    background-color: rgba(219, 234, 13, 0.447);
    font-size: 25px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.CerTy:hover {
    background-color: lightgreen;
}
